body {
    margin: 0;
    background-image: url('Picture1.png');
    background-repeat: repeat;
    font-family: Arial, sans-serif;        
}

.container {
    width: 900px;
    margin: 40px auto;
    background-color: #d9953b;
    border: 8px solid #7a3b2e;
    padding: 20px;
}

.header {
    padding: 0;
    text-align: center;
}


.grid-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
}

.grid-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.content {
    padding: 20px;
    flex: 1;    
}

.content p {
    padding-left: 35px;
    padding-right: 70px;
}

.main-layout {
    display: flex;
    gap: 20px;
}

.sidebar a {
    display: block;
    text-decoration: none;
    color: purple;
    padding: 10px;
    border-bottom: 2px solid rgb(93, 88, 88);
    margin-bottom: 10px;  
    text-align: center;      
}

.sidebar a:last-child {
    border-bottom: none; 
}

.sidebar a:hover {
    background-color: #7a3b2e;     
    color: white;
}

h1 {
    text-align: left; 
}

.footer {
    text-align: center;
    margin: 20px -20px -20px -20px; 
    padding: 10px 0;
    background-color: orange;            
}

.footer p {
    margin: -1px 0;
}

.garis {
    width: 100%;
    height: 3px;
    background-color: rgb(93, 88, 88);
    border: none;
    margin: 15px auto;
}

/* Style Bagian Hitung Life Path */
.form-row{
    display: grid;
    grid-template-columns: 220px 15px 1fr;
    align-items: center;
    margin: 0 auto 15px auto;
    width: 400px;
    margin-bottom: 50px;
}

.form-row:last-child{
    margin-bottom: none;
}

.form-row label{
    font-size: 14px;
}

.form-row span{
    text-align: center;
}

.form-row select{
    padding: 4px;
    width: fit-content;
    font-size: 14px;
}

/* tombol */
.form-buttons{
    margin-top: -35px;
    display: flex;
    margin-left: 2px;     
}

.form-buttons button{
    margin-right: 5px;
    cursor: pointer;
    border-radius: 4px;
}

/* Style Bagian Output */
.form-row-output{
    display: grid;
    grid-template-columns: 100px 15px 1fr;
    align-items: center;
    /* margin: 0 auto 15px auto; */
    margin-left: 180px;
    width: 100px;  
}

#deskripsiGarisHidup{
    text-align: justify;
    line-height: 1.6;
    white-space: pre-line;
}